In [2]:
import pandas as pd
import re

In [3]:
ratingsEND = pd.read_csv('data_END/ratings_movies.csv')
display(ratingsEND)

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [4]:
#библиотека для регулярных выражений
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [5]:
rat_END_copy = ratingsEND.copy()

In [6]:
rat_END_copy['year_release'] = rat_END_copy['title'].apply(get_year_release)
display(rat_END_copy)

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0
...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0

In [7]:
rat_END_copy['year_release'].isnull().value_counts()  # Создайте в таблице новый признак year_release, который соответствует году выпуска фильма. У скольких фильмов не указан год их выпуска?

year_release
False    100818
True         18
Name: count, dtype: int64

In [8]:
mask = rat_END_copy['year_release'] == 1999
rat_END_copy[mask].groupby('title')['rating'].mean().sort_values()
# Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей? В качестве ответа запишите название этого фильма без указания года его выпуска.

title
Bloodsport: The Dark Kumite (1999)            0.5
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Simon Sez (1999)                              1.0
Julien Donkey-Boy (1999)                      1.0
                                             ...
Mickey's Once Upon a Christmas (1999)         5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Siam Sunset (1999)                            5.0
Sun Alley (Sonnenallee) (1999)                5.0
Name: rating, Length: 261, dtype: float64

In [9]:
mask1 = rat_END_copy['year_release'] == 2010
rat_END_copy[mask1].groupby('genres')['rating'].mean().sort_values()
# Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Comedy|Musical                       5.000000
Name: rating, Length: 119, dtype: float64

In [10]:
rat_END_copy.groupby('userId')['genres'].nunique().sort_values(ascending=False)
# Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
494     15
214     13
245     13
85      13
Name: genres, Length: 610, dtype: int64

***********************************************

***********************************

***************

In [11]:
rat_END_copy.groupby('userId')['rating'].agg(
    'min', 'mean'
).sort_values(ascending=False)
# Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая. В качестве ответа укажите идентификатор этого пользователя.
# Непонятно почему сработало верно. Передано 2 аргумента функции.

userId
53     5.0
49     4.0
515    4.0
25     4.0
123    3.5
      ...
18     0.5
610    0.5
20     0.5
21     0.5
22     0.5
Name: rating, Length: 610, dtype: float64

In [14]:
rat_END_copy.groupby('userId')['rating'].agg(
    ['count', 'mean']
).sort_values(['count', 'mean'], ascending=[True, False])
# Версия № 2, 100% верная.

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

*************

**************

*************

In [12]:
mask2010 = rat_END_copy['year_release'] == 2018
maskGR = rat_END_copy[mask2010].groupby('genres')['rating'].agg(
    ['mean', 'count']
)
maskGR[maskGR['count'] > 10].sort_values(
    by='mean',
    ascending=False
)
# Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), 
# и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

In [13]:
rat_END_copy['date'] = pd.to_datetime(rat_END_copy['date'])
rat_END_copy['year_rating'] = rat_END_copy['date'].dt.year
pivot = rat_END_copy.pivot_table(
    index='year_rating',
    columns='genres',
    values='rating',
    aggfunc='mean'
)
display(pivot)

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,NaN,2.730769,3.454545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.666667,NaN,3.838095,NaN,3.117647
1997,NaN,3.538462,4.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.400000,NaN,3.923077,NaN,3.000000
1998,NaN,NaN,4.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.800000,NaN,NaN
1999,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,NaN,NaN,NaN,NaN,4.000000,NaN,3.700000,4.5,4.000000
2000,NaN,2.588235,3.738462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000,NaN,3.0,3.416667,NaN,2.142857,NaN,3.087912,3.0,4.058824
2001,NaN,3.000000,3.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,2.500000,NaN,2.500000,NaN,3.477273,3.0,3.111111
2002,NaN,2.750000,4.304348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000,NaN,NaN,3.750000,NaN,3.600000,NaN,3.583333,3.5,3.000000
2003,NaN,3.833333,3.277778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.375,2.5,NaN,2.333333,NaN,3.142857,NaN,3.250000,3.0,4.000000
2004,NaN,2.700000,4.136364,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,...,3.000,3.0,3.5,2.125000,NaN,NaN,NaN,3.464286,3.0,3.800000
2005,NaN,3.357143,3.413043,NaN,NaN,4.107143,NaN,NaN,NaN,NaN,...,2.000,NaN,NaN,3.000000,NaN,2.750000,NaN,3.411765,NaN,4.500000
2006,NaN,2.166667,4.090909,NaN,NaN,3.833333,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,0.500000,NaN,4.500000,NaN,3.735294,NaN,3.625000
2007,NaN,2.583333,3.666667,NaN,NaN,3.846154,3.000000,NaN,NaN,2.8,...,1.500,NaN,2.5,3.375000,NaN,2.833333,NaN,3.421875,NaN,3.000000
2008,NaN,3.000000,3.656250,NaN,NaN,4.125000,4.000000,NaN,NaN,3.5,...,NaN,NaN,NaN,3.125000,NaN,3.000000,NaN,3.333333,NaN,4.000000
2009,NaN,NaN,3.714286,NaN,NaN,3.900000,NaN,3.250000,NaN,2.5,...,NaN,NaN,NaN,2.000000,NaN,4.000000,NaN,2.964286,4.0,3.375000
2010,NaN,3.500000,3.437500,NaN,NaN,4.333333,NaN,3.500000,3.000000,NaN,...,NaN,NaN,NaN,4.000000,NaN,2.500000,NaN,2.833333,NaN,3.666667
2011,NaN,4.500000,3.888889,NaN,NaN,3.500000,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,3.500000,NaN,1.833333,4.000000,3.625000,NaN,4.000000
2012,NaN,2.625000,3.900000,NaN,4.000000,3.785714,NaN,3.550000,4.000000,NaN,...,2.500,NaN,NaN,4.166667,NaN,3.500000,3.666667,3.083333,NaN,4.100000
2013,NaN,2.500000,3.833333,NaN,3.000000,4.333333,NaN,5.000000,NaN,NaN,...,NaN,NaN,NaN,1.500000,NaN,3.833333,4.000000,3.666667,NaN,4.000000
2014,NaN,NaN,3.875000,3.000,3.500000,3.250000,3.833333,3.500000,4.000000,NaN,...,NaN,NaN,NaN,2.500000,5.000000,NaN,4.000000,4.000000,NaN,4.000000
2015,0.500000,3.100000,3.560976,3.800,3.666667,3.565217,3.833333,3.375000,2.333333,2.5,...,NaN,NaN,NaN,2.900000,4.071429,3.764706,4.000000,2.911765,NaN,3.900000
2016,3.500000,3.545455,3.722222,3.750,3.833333,3.925000,3.388889,3.666667,1.000000,4.0,...,2.500,NaN,NaN,3.555556,3.807692,3.916667,3.666667,3.432432,NaN,3.958333
2017,3.000000,2.637931,3.527778,3.375,3.500000,3.676471,3.700000,1.000000,1.000000,2.0,...,3.000,NaN,NaN,3.864865,4.264706,3.750000,2.500000,3.152174,NaN,2.933333
2018,3.676471,2.588235,3.397436,3.650,3.166667,3.741935,4.142857,3.700000,2.500000,4.0,...,NaN,NaN,NaN,3.128571,3.500000,3.562500,NaN,3.296296,NaN,3.611111