In [257]:
import pandas as pd
import re

In [258]:
ratingsEND = pd.read_csv('data_END/ratings_movies.csv')
display(ratingsEND)

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [259]:
#библиотека для регулярных выражений
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [260]:
rat_END_copy = ratingsEND.copy()

In [261]:
rat_END_copy['year_release'] = rat_END_copy['title'].apply(get_year_release)
display(rat_END_copy)

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0
...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0

In [262]:
rat_END_copy['year_release'].isnull().value_counts()  # Создайте в таблице новый признак year_release, который соответствует году выпуска фильма. У скольких фильмов не указан год их выпуска?

year_release
False    100818
True         18
Name: count, dtype: int64

In [263]:
mask = rat_END_copy['year_release'] == 1999
rat_END_copy[mask].groupby('title')['rating'].mean().sort_values()
# Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей? В качестве ответа запишите название этого фильма без указания года его выпуска.

title
Bloodsport: The Dark Kumite (1999)            0.5
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Simon Sez (1999)                              1.0
Julien Donkey-Boy (1999)                      1.0
                                             ...
Mickey's Once Upon a Christmas (1999)         5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Siam Sunset (1999)                            5.0
Sun Alley (Sonnenallee) (1999)                5.0
Name: rating, Length: 261, dtype: float64

In [264]:
mask1 = rat_END_copy['year_release'] == 2010
rat_END_copy[mask1].groupby('genres')['rating'].mean().sort_values()
# Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Comedy|Musical                       5.000000
Name: rating, Length: 119, dtype: float64

In [265]:
rat_END_copy.groupby('userId')['genres'].nunique().sort_values(ascending=False)
# Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
494     15
214     13
245     13
85      13
Name: genres, Length: 610, dtype: int64

In [266]:
rat_END_copy.groupby('userId')['rating'].agg(
    'min', 'mean'
).sort_values(ascending=False)
# Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая. В качестве ответа укажите идентификатор этого пользователя.

userId
53     5.0
49     4.0
515    4.0
25     4.0
123    3.5
      ...
18     0.5
610    0.5
20     0.5
21     0.5
22     0.5
Name: rating, Length: 610, dtype: float64

In [267]:
mask2010 = rat_END_copy['year_release'] == 2018
maskGR = rat_END_copy[mask2010].groupby('genres')['rating'].agg(
    ['mean', 'count']
)
maskGR[maskGR['count'] > 10].sort_values(
    by='mean',
    ascending=False
)
# Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), 
# и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

In [290]:
rat_END_copy['date'] = pd.to_datetime(rat_END_copy['date'])
rat_END_copy['year_rating'] = rat_END_copy['date'].dt.year
pivot = rat_END_copy.pivot_table(
    index='year_rating',
    columns='genres',
    values='rating',
    aggfunc='mean'
)
display(pivot['Animation|Children|Mystery'])

year_rating
1996    NaN
1997    NaN
1998    NaN
1999    NaN
2000    NaN
2001    NaN
2002    NaN
2003    NaN
2004    NaN
2005    NaN
2006    NaN
2007    NaN
2008    NaN
2009    NaN
2010    NaN
2011    NaN
2012    NaN
2013    NaN
2014    NaN
2015    NaN
2016    NaN
2017    NaN
2018    5.0
Name: Animation|Children|Mystery, dtype: float64